.icon{
    width: 45px;
    height: 45px;
}
.podium {
    text-align: center;
  }

.podium div {
width:100px;
display:inline-block;
}

.top {
background: yellow;
height: 125px;
}

.left {
background: orange;
height:150px;
}

.right {
height:100px;
background: rgb(255, 138, 230);
}

.EnLigne td{
  background-color: rgba(153, 209, 70, 0.445);
}

#carte{
  width: 100%;
}